@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --background: oklch(0.9844 0.0045 258.3244);
  --foreground: oklch(0.2953 0.0555 257.2696);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2953 0.0555 257.2696);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2953 0.0555 257.2696);
  --primary: oklch(0.2811 0.068 256.9555);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9514 0.025 236.8242);
  --secondary-foreground: oklch(0.4608 0.0705 254.2533);
  --muted: oklch(0.9678 0.0086 247.9141);
  --muted-foreground: oklch(0.5757 0.0679 255.4123);
  --accent: oklch(0.9582 0.02 257.4712);
  --accent-foreground: oklch(0.2953 0.0555 257.2696);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9176 0.0185 250.5979);
  --input: oklch(0.9424 0.0138 247.9737);
  --ring: oklch(0.2811 0.068 256.9555);
  --chart-1: oklch(0.2811 0.068 256.9555);
  --chart-2: oklch(0.6231 0.188 259.8145);
  --chart-3: oklch(0.7227 0.192 149.5793);
  --chart-4: oklch(0.8606 0.1731 91.9357);
  --chart-5: oklch(0.6368 0.2078 25.3313);
  --sidebar: oklch(0.9643 0.0103 247.9329);
  --sidebar-foreground: oklch(0.2953 0.0555 257.2696);
  --sidebar-primary: oklch(0.2811 0.068 256.9555);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9582 0.02 257.4712);
  --sidebar-accent-foreground: oklch(0.2953 0.0555 257.2696);
  --sidebar-border: oklch(0.9176 0.0185 250.5979);
  --sidebar-ring: oklch(0.2811 0.068 256.9555);
  --font-sans: Inter, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dark {
  --background: oklch(0.2296 0.0482 256.7449);
  --foreground: oklch(0.9273 0.0139 247.9767);
  --card: oklch(0.2811 0.068 256.9555);
  --card-foreground: oklch(0.9273 0.0139 247.9767);
  --popover: oklch(0.2811 0.068 256.9555);
  --popover-foreground: oklch(0.9273 0.0139 247.9767);
  --primary: oklch(0.5023 0.0806 253.6233);
  --primary-foreground: oklch(0.9844 0.0045 258.3244);
  --secondary: oklch(0.3436 0.0739 253.0853);
  --secondary-foreground: oklch(0.7799 0.0336 254.0351);
  --muted: oklch(0.3025 0.0593 250.3949);
  --muted-foreground: oklch(0.6831 0.052 251.381);
  --accent: oklch(0.3445 0.073 254.25);
  --accent-foreground: oklch(0.8705 0.024 250.0956);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.2296 0.0482 256.7449);
  --border: oklch(0.4219 0.0814 254.03);
  --input: oklch(0.4219 0.0814 254.03);
  --ring: oklch(0.5023 0.0806 253.6233);
  --chart-1: oklch(0.5023 0.0806 253.6233);
  --chart-2: oklch(0.7137 0.1434 254.624);
  --chart-3: oklch(0.8003 0.1821 151.711);
  --chart-4: oklch(0.8606 0.1731 91.9357);
  --chart-5: oklch(0.7106 0.1661 22.2162);
  --sidebar: oklch(0.2811 0.068 256.9555);
  --sidebar-foreground: oklch(0.9273 0.0139 247.9767);
  --sidebar-primary: oklch(0.5023 0.0806 253.6233);
  --sidebar-primary-foreground: oklch(0.9844 0.0045 258.3244);
  --sidebar-accent: oklch(0.3445 0.073 254.25);
  --sidebar-accent-foreground: oklch(0.8705 0.024 250.0956);
  --sidebar-border: oklch(0.4219 0.0814 254.03);
  --sidebar-ring: oklch(0.5023 0.0806 253.6233);
}

.animation-delay-100 {
  animation-delay: 100ms;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.app-toast[data-type='error'] {
  background-color: var(--destructive);
  color: #fff;
  border-color: var(--destructive);
}

.app-toast[data-type='success'] {
  background-color: #21713e;
  color: #fff;
  border-color: #21713e;
}
